# ✅ === MongoDB (cho Docker Compose substitution) ===
MONGO_USERNAME=admin
MONGO_PASSWORD=Test@1234


# ✅ === Backend runtime ===
MONGO_URI=mongodb://admin:Test%401234@mongo:27017/todo?authSource=admin
# MONGO_URI=mongodb://admin:Test%401234@localhost:27017/todo?authSource=admin
GMAIL_USERNAME=
GMAIL_PASSWORD=
PORT_BE=8386
JWT_SECRET=BI_MAT
# URL=http://localhost
URL=https://api.ductandev.io.vn
PUBLIC_URL=https://api.ductandev.io.vn

GITHUB_TOKEN=
DIGITALOCEAN_TOKEN=
